.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea {
	-moz-border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	overflow-x:visible;
	vertical-align:baseline;
	font-family:Consolas,Monaco,Lucida Console,monospace;
	font-weight:400;
	font-style:normal;
	padding:0
}
.syntaxhighlighter.source {
	overflow:hidden
}
.syntaxhighlighter .bold {
	font-weight:bold
}
.syntaxhighlighter .italic {
	font-style:italic
}
.syntaxhighlighter .line {
	white-space:prewrap
}
.syntaxhighlighter table caption {
	text-align:left;
	padding:.5em 0
}
.syntaxhighlighter table td.code {
	width:100%
}
.syntaxhighlighter table td.code .container {
	position:relative
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing:border-box;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:none;
	background:white;
	padding-left:1em;
	overflow:hidden;
	white-space:pre
}
.syntaxhighlighter table td.gutter .line {
	text-align:right;
	padding:0 .5em
}
.syntaxhighlighter table td.code .line {
	padding:0 1em
}
.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line {
	padding-left:0
}
.syntaxhighlighter.show {
	display:block
}
.syntaxhighlighter.collapsed table {
	display:none
}
.syntaxhighlighter.collapsed .toolbar {
	padding:.1em .8em 0 0;
	position:static;
	width:auto;
	height:auto
}
.syntaxhighlighter.collapsed .toolbar span {
	display:inline;
	margin-right:1em
}
.syntaxhighlighter.collapsed .toolbar span a {
	padding:0;
	display:none
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
	display:inline
}
.syntaxhighlighter .toolbar {
	position:absolute;
	right:1px;
	top:1px;
	width:11px;
	height:11px;
	z-index:10
}
.syntaxhighlighter .toolbar span.title {
	display:inline
}
.syntaxhighlighter .toolbar a {
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:1px
}
.syntaxhighlighter .toolbar a.expandSource {
	display:none
}
.syntaxhighlighter.ie .toolbar {
	line-height:8px
}
.syntaxhighlighter.ie .toolbar a {
	padding-top:0
}
.syntaxhighlighter {
	font-weight:bold;
	background-color:#fff;
	width:100%;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap
}
.syntaxhighlighter .line.highlighted.number {
	color:black
}
.syntaxhighlighter table caption {
	color:black
}
.syntaxhighlighter .gutter {
	color:#afafaf;
	display:none
}
.syntaxhighlighter .gutter .line {
	border-right:3px solid #bbb;
	height:30px;
	line-height:30px
}
.syntaxhighlighter.printing .line .content {
	border:none
}
.syntaxhighlighter.collapsed {
	overflow:visible
}
.syntaxhighlighter.collapsed .toolbar {
	color:#3498DB;
	background:white;
	border:1px solid #6ce26c
}
.syntaxhighlighter.collapsed .toolbar a {
	color:#3498DB
}
.syntaxhighlighter.collapsed .toolbar a:hover {
	color:red
}
.syntaxhighlighter .toolbar {
	color:white;
	border:none
}
.syntaxhighlighter .toolbar a {
	color:white
}
.syntaxhighlighter .toolbar a:hover {
	color:black
}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a {
	color:#333
}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a {
	color:#5C9238;
	font-style:italic
}
.syntaxhighlighter .string,.syntaxhighlighter .string a {
	color:#3498ff
}
.syntaxhighlighter .keyword {
	color:deepPink
}
.syntaxhighlighter .preprocessor {
	color:gray
}
.syntaxhighlighter .variable {
	color:#a70
}
.syntaxhighlighter .value {
	color:RGB(27,107,240)
}
.syntaxhighlighter .functions {
	color:#ff1493
}
.syntaxhighlighter .constants {
	color:#06c
}
.syntaxhighlighter .script {
	font-weight:bold;
	color:#3498DB;
	background-color:none
}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a {
	color:#333
}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a {
	color:#ff1493
}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a {
	color:red
}
.syntaxhighlighter {
	display:block;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:.9em;
	padding:1em 0;
	background-color:#fafafa;
	margin:2em 0!important;
	max-height:600px;
	overflow:auto
}
.syntaxhighlighter code {
	background:none;
	bckground-color:transparent;
	padding:0!important
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight:500;
	font-style:normal
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-black-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight:900;
	font-style:normal
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight:600;
	font-style:normal
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-light-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight:300;
	font-style:normal
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-lightitalic-webfont.svg#brandon_grotesquelight_italic") format("svg");
	font-weight:300;
	font-style:italic
}
@font-face {
	font-family:'Brandon Grotesque';
	src:url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.eot");
	src:url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.woff2") format("woff2"),url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.woff") format("woff"),url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.ttf") format("truetype"),url("../fonts/hvd_fonts_-_brandongrotesque-regular-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight:400;
	font-style:normal
}
.pink {
	color:#e02177
}
.green {
	color:#8CC152
}
.slash {
	color:#e02177;
	font-weight:bold
}
.main-footer .slash {
	margin:0 10px
}
::-moz-selection {
	background:#e02177;
	color:white
}
::selection {
	background:#e02177;
	color:white
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box
}
.clearfix:before,.clearfix:after {
	content:" ";
	display:table
}
.clearfix:after {
	clear:both
}
.clearfix {
	*zoom:1
}
html {
	font-size:100%;
	position:relative;
	background-color:#333
}
html,body {
	min-height:100%
}
body {
	font-family:"Open Sans",Arial,sans-serif;
	line-height:1.6;
	color:#111;
	position:relative;
	overflow-x:hidden;
	z-index:1;
	background-color:#fff;
	font-size:20px;
	font-size:calc(14px + .3vw + .3vh);
	font-weight:300
}
.wrapper {
	margin:0 auto;
	max-width:1500px
}
.wrapper.tools-wrapper {
	max-width:1000px
}
.container {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:stretch;
	-webkit-align-items:stretch;
	-ms-flex-align:stretch;
	align-items:stretch;
	-webkit-flex-direction:column;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	padding-top:2em
}
.code .container {
	display:block
}
@media all and (min-width: 1024px) {
	.container {
		width:85vw;
		max-width:1500px;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		-webkit-flex-direction:row;
		-ms-flex-direction:row;
		flex-direction:row
	}
}
.full-width {
	background-color:white;
	overflow:hidden
}
.full-width.grey {
	background-color:#f5f5f5
}
.full-width.dark {
	background-color:#333;
	color:#ddd
}
.full-width.dark code {
	background-color:#222
}
.full-width.black {
	background-color:#111;
	color:#ddd
}
.full-width.black code {
	background-color:#222
}
.full-width.homepage-section {
	padding:1em 0
}
.main {
	padding:1em
}
aside {
	padding:1em
}
.tags-sidebar {
	padding:1em;
	margin:0 auto
}
@media (min-width: 1024px) {
	.main {
		max-width:1500px;
		margin:0 auto
	}
	.five {
		width:5%
	}
	.ten {
		width:10%
	}
	.fifteen {
		width:15%
	}
	.twenty {
		width:20%
	}
	.twenty-five {
		width:25%
	}
	.thirty {
		width:30%
	}
	.fourty {
		width:40%
	}
	.fourty-five {
		width:45%
	}
	.fifty {
		width:50%
	}
	.fifty-five {
		width:55%
	}
	.sixty {
		width:60%
	}
	.sixty-five {
		width:65%
	}
	.seventy {
		width:70%
	}
	.seventy-five {
		width:75%
	}
	.eighty {
		width:80%
	}
	.ninety {
		width:90%
	}
	.full {
		width:100%
	}
	.main--wider {
		width:80%;
		margin:0 auto
	}
	.tags-sidebar {
		float:right;
		padding:1em;
		text-align:right
	}
}
.row {
	padding:1em;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:stretch;
	-webkit-align-items:stretch;
	-ms-flex-align:stretch;
	align-items:stretch
}
.col {
	width:100%;
	float:left;
	position:relative
}
.col--1-3 {
	width:33%
}
.col--1-2 {
	width:50%
}
.col--black {
	background-color:#111;
	color:#fff
}
.homepage-section h2 {
	text-align:center
}
@media all and (max-width: 1024px) {
	.homepage-section .col {
		width:100%
	}
	.homepage-section .row {
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column
	}
}
@media all and (min-width: 1024px) {
	.col {
		padding:0 1em
	}
}
.call-to-action {
	text-align:center
}
.not-found {
	min-height:700px;
	min-height:100vh
}
h1,h2,h3,h4,h5,h6 {
	font-family:"Brandon Grotesque",Georgia,serif
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.3;
	margin:1.5em 0 .5em
}
h1 {
	font-size:2.4em;
	font-weight:600;
	margin-top:0
}
h1.contact-q {
	text-transform:none;
	font-weight:600;
	font-size:2.5em
}
@media all and (max-width: 700px) {
	h1 {
		font-size:1.8em
	}
}
@media all and (max-width: 480px) {
	h1 {
		font-size:1.5em
	}
}
.slogan {
	font-size:7vw;
	text-align:center
}
.side-lined {
	text-transform:uppercase;
	font-family:"Brandon Grotesque",Georgia,serif;
	text-align:center;
	font-size:4vw;
	position:relative
}
.side-lined span {
	background:#fff;
	padding:0 .5em;
	position:relative;
	z-index:1
}
.side-lined::before {
	background:#666;
	content:" ";
	display:block;
	height:2px;
	position:absolute;
	top:50%;
	width:100%;
	left:0
}
.side-lined.light {
	font-weight:300!important
}
@media all and (max-width: 700px) {
	.side-lined {
		font-size:2em
	}
}
@media all and (min-width: 2000px) {
	.side-lined {
		font-size:3.75em
	}
}
h2 {
	font-size:1.8em
}
h2 code {
	text-transform:none
}
h3 {
	font-size:1.6em
}
h3 code {
	text-transform:none
}
h4 {
	font-size:1.4em
}
h5 {
	font-size:1.2em;
	font-style:italic
}
h6 {
	font-size:1em
}
dl {
	font-size:20px
}
a {
	text-decoration:none;
	border-bottom:1px solid currentColor;
	color:inherit;
	font-weight:400;
	outline:none;
	color:#e02177
}
a:hover,a:active {
	color:#e02177;
	border-bottom:1px solid #e02177
}
a:not(.button):focus {
	background-color:#ff6!important;
	color:black!important
}
figcaption a {
	color:inherit
}
a.img-link {
	border:none!important
}
a.img-link:hover {
	opacity:.9
}
.anchorjs-link {
	border:none!important;
	color:#aaa!important
}
.anchorjs-link:hover {
	color:#e02177!important
}
input,select,button {
	font-family:"Open Sans",Arial,sans-serif
}
p,ul,ol {
	margin-bottom:1em
}
li {
	margin:1em 0
}
strong {
	font-weight:700
}
ol,ul {
	padding-left:1em
}
dt {
	font-weight:600;
	margin:.5em 0
}
dd {
	padding-left:.5em;
	margin:.5em 0 2em
}
iframe {
	width:100%
}
iframe.caniuse {
	height:350px
}
.size-2x {
	font-size:1.3em;
	margin-bottom:1.5em;
	font-weight:300
}
.tagline {
	font-size:1.6em;
	font-family:"Brandon Grotesque",Georgia,serif;
	font-weight:500
}
.note {
	color:#888;
	margin-bottom:1em;
	font-size:.9em;
	font-style:italic
}
.note.warning {
	color:#ea6153
}
.note ul {
	font-size:inherit
}
.update {
	color:#2e8630
}
hr {
	border:0;
	height:3px;
	width:80px;
	background-color:#e02177;
	margin:50px auto
}
hr.line--top {
	margin:1em auto 50px
}
hr.line--bottom {
	margin:70px auto 1em
}
hr.line--left {
	margin:0 0 50px
}
code {
	background-color:#f5f5f5;
	padding:.25em;
	font-family:Consolas,Monaco,Lucida Console,monospace;
	font-size:.9em
}
img {
	max-width:100%
}
#badge {
	max-width:80px
}
blockquote {
	padding:0;
	margin:2em 0;
	color:#444;
	font-size:1.2em;
	border-left:10px solid #ddd;
	padding-left:1em;
	position:relative;
	left:-10px;
	left:calc(-1em - 10px)
}
.testimonial {
	font-weight:500;
	font-family:"Brandon Grotesque",Georgia,serif;
	width:100%;
	padding-left:0;
	font-style:italic;
	overflow:hidden;
	border-left:none;
	font-size:1.4em;
	position:static;
	background:url(../images/quotes.svg) left top no-repeat;
	background-size:auto 50%
}
.testimonial .size-2x {
	font-size:24px
}
.testimonial p {
	font-weight:600
}
.testimonial cite {
	display:block;
	font-weight:300;
	font-size:18px;
	color:inherit
}
.testimonial cite figure {
	overflow:hidden
}
.testimonial cite figure img {
	float:left;
	width:80px;
	height:80px;
	border-radius:50%;
	-webkit-shape-outside:circle();
	shape-outside:circle();
	margin:10px
}
.testimonial cite figure figcaption {
	float:left;
	padding-left:0;
	text-align:left;
	font-size:1em
}
.testimonial cite figure figcaption p {
	line-height:1.2;
	margin:.25em 0
}
.testimonial cite a {
	color:#e02177
}
.testimonial--center {
	text-align:center;
	border:none!important;
	padding-left:0
}
.testimonial--right {
	text-align:right;
	border-right:7px solid #ddd;
	padding-right:20px
}
.conference_blockquote {
	background-color:#f8f8f8!important;
	display:-webkit-inline-box;
	display:-webkit-inline-flex;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.conference_blockquote blockquote {
	margin-top:0
}
.conference_blockquote blockquote p {
	font-weight:600!important
}
.conference_blockquote--past {
	border:none
}
.conference_blockquote--past blockquote {
	margin:0 auto
}
@media all and (min-width: 530px) {
	.conference_blockquote {
		width:97%
	}
}
@media all and (min-width: 1100px) {
	.conference_blockquote {
		width:98%
	}
}
.pull-quote {
	font-weight:600;
	font-size:1.5em;
	font-style:italic;
	width:15em;
	font-family:"Brandon Grotesque",Georgia,serif;
	float:right;
	margin:1em 0 1em 2em;
	right:-5em;
	color:#111;
	border-left:none
}
.pull-quote code {
	text-transform:none
}
.pull-quote:before,.pull-quote::after {
	content:"";
	display:block;
	margin:1em auto;
	height:1px;
	width:60%;
	background-image:-webkit-linear-gradient(left,rgba(150,150,150,0),#111,rgba(150,150,150,0));
	background-image:linear-gradient(to right,rgba(150,150,150,0),#111,rgba(150,150,150,0))
}
@media screen and (max-width: 64em) {
	.pull-quote {
		left:0;
		right:0;
		margin:.5em 0 .5em .5em
	}
}
@media screen and (max-width: 34.375em) {
	.pull-quote {
		display:none
	}
}
.availability-calendar {
	margin:2em 0;
	overflow:hidden
}
.availability-calendar ul {
	list-style:none;
	margin:0;
	padding:.5em 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-ms-flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap
}
.availability-calendar li {
	float:left;
	width:5em;
	width:24%;
	margin:1px;
	padding:.5em .5em 1em;
	position:relative;
	background:#fff;
	font-weight:bold;
	border:1px solid #ddd
}
.availability-calendar li small {
	display:block;
	font-size:.6em
}
@media (min-width: 800px) {
	.availability-calendar li {
		width:16%
	}
}
@media (min-width: 1024px) {
	.availability-calendar {
		position:relative;
		width:140%;
		left:-20%
	}
	.availability-calendar li {
		-ms-flex:1;
		-webkit-flex:1;
		-webkit-box-flex:1;
		flex:1
	}
}
.availability--status {
	display:block;
	font-size:.8em;
	margin-top:1em;
	font-weight:normal
}
.availability--status svg {
	display:block
}
.full-availability .availability--status {
	color:#72a53b;
	font-weight:bold
}
.partial-availability .availability--status {
	color:#ff9e06
}
.no-availability .availability--status {
	color:#EA2A55
}
.current-month::before {
	display:block;
	position:absolute;
	background-color:black;
	color:white;
	right:0;
	top:1em;
	content:"Current";
	font-size:.5em;
	padding:.2em .4em;
	font-weight:normal
}
.past-month {
	background:#eee!important;
	color:#ddd!important
}
.past-month::after {
	background:#888
}
.past-month span {
	color:#aaa!important;
	-webkit-filter:blur(0.75px);
	filter:blur(0.75px);
	display:none
}
.button {
	font-size:.9em;
	display:inline-block;
	margin:1em;
	margin-left:0;
	color:#fff;
	background-color:#e02177;
	padding:.6em 1.25em;
	cursor:pointer;
	border-radius:7px;
	border:none;
	box-shadow:0 6px #881348,0 12px 5px rgba(0,0,0,0.2);
	-webkit-transition:background .15s linear,color .15s linear;
	transition:background .15s linear,color .15s linear;
	text-align:center
}
.button.button--white {
	background:white;
	color:#444;
	box-shadow:0 6px #aaa,0 12px 5px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2)
}
.button.button--white:hover,.button.button--white:focus {
	color:#444;
	background-color:#eee;
	-webkit-transform:translateY(2px);
	-ms-transform:translateY(2px);
	transform:translateY(2px);
	box-shadow:0 4px #aaa,0 6px 5px rgba(0,0,0,0.2),0 0 1px 1px rgba(0,0,0,0.2)
}
.button.button--white:active {
	color:#444;
	background-color:#ccc;
	-webkit-transform:translateY(6px);
	-ms-transform:translateY(6px);
	transform:translateY(6px);
	box-shadow:0 0 #aaa,0 1px 0 rgba(0,0,0,0.2),0 0 1px 1px rgba(0,0,0,0.2)
}
.button:hover,.button:focus {
	color:#fff;
	background-color:#c21b66;
	-webkit-transform:translateY(2px);
	-ms-transform:translateY(2px);
	transform:translateY(2px);
	border:none;
	box-shadow:0 4px #881348,0 6px 5px rgba(0,0,0,0.2)
}
.button:active {
	color:#eee;
	border:none;
	background-color:#9e1653;
	-webkit-transform:translateY(6px);
	-ms-transform:translateY(6px);
	transform:translateY(6px);
	box-shadow:0 0px #881348,0 1px 0 rgba(0,0,0,0.2)
}
.article-wrapper .button {
	display:inline-block
}
*+.button {
	margin-left:1em
}
.button--full {
	font-size:1.25em;
	padding:.75em 1em;
	width:100%;
	margin:1em 0;
	display:block!important
}
.button-wrapper {
	text-align:center
}
.button-wrapper small {
	display:block
}
.button-wrapper small a {
	border:none
}
.ie8 .logo {
	margin:1em 0 0 0
}
.ie8 .main-header {
	border-bottom:1px solid #ddd;
	padding:.3em 0
}
@media screen and (max-width: 71.875em) {
	html {
		font-size:90%
	}
}
@media screen and (max-width: 61.25em) {
	html {
		font-size:85%
	}
}
.articles-list {
	list-style:none;
	padding:0
}
.articles-list li {
	color:#111;
	margin:0 0 5em
}
.articles-list li p:not(:first-of-type) {
	color:#999;
	font-size:1em
}
.articles-list li p {
	font-weight:300!important
}
.articles-list--homepage>li {
	margin-bottom:2em
}
@media all and (max-width: 700px) {
	.articles-list--homepage>li {
		margin-bottom:3em;
		float:none;
		width:100%
	}
}
.post-title {
	font-size:1.8em;
	font-family:"Brandon Grotesque",Gerogia,serif;
	border-bottom:none;
	font-weight:600;
	display:block;
	line-height:1.4;
	color:inherit
}
.articles-list--homepage .post-title {
	font-size:1.2em;
	text-transform:none;
	font-weight:600;
	font-family:"Open Sans",Arial,sans-serif
}
.post-title:hover,.post-title:active {
	color:#e02177;
	border-bottom:none
}
.post-title code {
	background-color:inherit
}
.articles-list p {
	font-size:18px
}
@media all and (max-width: 600px) {
	.post-title {
		font-size:26px
	}
	.articles-list p {
		font-size:16px
	}
}
.subtitle {
	display:block;
	font-family:"Open Sans",sans-serif;
	font-size:.6em;
	font-weight:400;
	margin-bottom:1em
}
.compound-title .subtitle {
	font-size:1.1em;
	text-transform:uppercase
}
ul.tags {
	margin:0;
	padding:0
}
ul.tags li {
	color:#e02177;
	list-style:none;
	margin:0;
	font-size:12px;
	margin-right:5px;
	display:inline-block;
	text-transform:uppercase
}
ul.tags li::before {
	content:"#"
}
ul.tags li a {
	border:none
}
ul.tags--post p {
	color:#aaa;
	display:inline
}
ul.tags--post li {
	font-size:1em;
	color:#aaa
}
ul.tags--post li a {
	border-bottom:1px solid
}
ul.taglist {
	margin:0;
	margin-bottom:2em;
	padding:0;
	position:relative;
	z-index:1
}
ul.taglist li {
	color:#e02177;
	list-style:none;
	margin:5px 0;
	font-size:16px;
	margin-right:5px;
	padding-right:5px;
	text-transform:uppercase
}
ul.taglist li a {
	border:none!important;
	padding:2px 10px 2px 5px;
	background-color:#eee;
	color:#111
}
ul.taglist li a:hover {
	background-color:#111;
	color:white
}
ul.taglist li.active-tag a {
	background-color:#e02177;
	color:white;
	font-size:19px;
	padding:1px 15px
}
.tag-post-count {
	color:#fff;
	font-size:12px;
	vertical-align:top
}
@media (max-width: 1024px) {
	ul.taglist li {
		display:inline-block;
		margin-right:5px
	}
	ul.taglist li small {
		padding:2px 5px 2px 2px
	}
}
.tag-title {
	color:#eee;
	font-size:12vw;
	margin:0;
	padding:0;
	line-height:.8
}
.defs {
	color:#e02177!important
}
.post-host {
	color:#7fb842
}
.post-host:before {
	content:"for ";
	color:#888
}
.post-meta {
	color:#333;
	font-size:.7em;
	font-style:italic;
	display:block;
	font-family:Open Sans,sans-serif;
	margin-top:1em
}
.post-meta span {
	display:inline-block;
	margin-right:.75em
}
.article-wrapper .post-meta {
	font-size:.9em;
	font-style:normal;
	color:#888
}
.post-button {
	margin:0;
	font-size:.8em;
	color:#e02177;
	display:inline-block
}
.pagination {
	font-size:.9em;
	text-align:center;
	margin:2em 0;
	overflow:hidden;
	color:grey
}
.pagination_button {
	display:inline-block;
	margin-right:2px;
	background-color:#ddd;
	padding:.5em 1em;
	color:#626262
}
a.pagination_button {
	border-bottom:none;
	color:white!important;
	background-color:#e02177
}
.publication-module {
	padding:1em;
	margin-top:1em;
	background-color:#fafafa;
	text-align:center;
	border:1px solid #eee
}
.publication-module .button--full {
	font-size:.8em
}
.publication-module h3 {
	font-size:1.5em;
	text-align:center;
	margin:0
}
.publication-module h3 small {
	font-size:.5em;
	margin-top:1em;
	color:#888;
	display:block;
	font-weight:normal;
	font-family:Open Sans,sans-serif
}
.publication-module h4 {
	color:#888;
	font-size:18px;
	font-weight:500
}
.book-cover {
	display:none
}
.cssref-section {
	background:#fff url("../images/codrops-logo.svg") no-repeat center left 1em;
	background-size:20em auto
}
.smashing-book-section {
	background:#fff url("../images/smashing-book-5.png") no-repeat center left 1.5em;
	background-size:12em auto
}
@media all and (max-width: 950px) {
	.smashing-book-section {
		background:none
	}
	.book-cover {
		display:block;
		padding:2em 1em 0
	}
	.book-cover img {
		max-width:250px
	}
}
.main-header {
	padding:1em 0;
	background-color:white
}
.logo {
	margin:1em auto;
	display:block;
	overflow:hidden;
	max-width:200px;
	border:none!important
}
.main-nav {
	padding:.75em 0;
	font-weight:400;
	font-size:.9em
}
.main-nav ul {
	list-style:none;
	padding:0;
	margin-top:1em
}
.main-nav ul li {
	margin:0
}
.main-nav ul li a {
	display:block;
	font-weight:500;
	width:100%;
	height:100%;
	padding:.5em 1em;
	-webkit-transition:color .15s linear;
	transition:color .15s linear;
	border-bottom:none;
	color:inherit
}
.main-nav ul li.current a {
	color:#e02177
}
@media (min-width: 600px) {
	.main-nav ul {
		text-align:center
	}
	.main-nav ul li {
		display:inline-block;
		border:none
	}
}
@media (min-width: 980px) {
	.main-nav {
		float:right;
		-webkit-columns:auto;
		-moz-columns:auto;
		columns:auto;
		clear:none;
		margin-right:2em
	}
	.main-nav ul li {
		border:none!important
	}
	.main-nav ul li a {
		padding:.25em 1em
	}
	.logo {
		float:left;
		margin:1em 2em
	}
}
.page-nav ul {
	list-style:none;
	margin:0;
	padding:0;
	font-size:.8em
}
.page-nav ul li {
	margin:.5em 0
}
.page-nav ul li a {
	color:grey;
	border-color:inherit
}
#search {
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:#fafafa;
	z-index:10;
	overflow-y:auto;
	text-align:center;
	display:none
}
#search:target {
	display:block
}
.overlay-close {
	position:absolute;
	top:0;
	right:0;
	font-size:.8em;
	padding:.5em 1em;
	background-color:#111;
	border:none;
	color:#eee;
	text-transform:uppercase
}
.overlay-close:hover {
	border:none;
	color:#e02177
}
#search-input {
	width:70%;
	padding:1em;
	margin:1em;
	background:#fafafa url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cg%20id%3D%22icomoon-ignore%22%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M15.56%2015.56c-0.587%200.587-1.538%200.587-2.125%200l-2.652-2.652c-1.090%200.699-2.379%201.116-3.771%201.116-3.872%200-7.012-3.139-7.012-7.012s3.14-7.012%207.012-7.012c3.873%200%207.012%203.139%207.012%207.012%200%201.391-0.417%202.68-1.116%203.771l2.652%202.652c0.587%200.587%200.587%201.538%200%202.125zM7.012%202.003c-2.766%200-5.009%202.242-5.009%205.009s2.243%205.009%205.009%205.009c2.766%200%205.009-2.242%205.009-5.009s-2.242-5.009-5.009-5.009z%22%20fill%3D%22%23AAA%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A") right 1em center no-repeat;
	background-size:3% auto;
	border:none;
	border-bottom:1px solid #111;
	font-size:1em
}
::-webkit-input-placeholder {
	color:#444
}
::-moz-placeholder {
	color:#444
}
:-ms-input-placeholder {
	color:#444
}
input:-moz-placeholder {
	color:#444
}
#search-results {
	width:70%;
	padding:0;
	margin:1em auto;
	text-align:left
}
@media (min-width: 700px) {
	.post-nav {
		position:fixed;
		bottom:0;
		left:0;
		right:0;
		background-color:white;
		font-size:12px;
		color:#aaa;
		border-top:1px solid #ddd;
		padding:0.5em 1em;
		z-index:3
	}
	.previous-post {
		float:left;
		max-width:48%
	}
	.next-post {
		float:right;
		max-width:48%
	}
}
.past-conferences {
	background:#fff url(../images/map.svg) top center no-repeat;
	padding-top:52%
}
.past-confs-headline {
	margin-bottom:-2.5em
}
@media all and (max-width: 640px) {
	.past-conferences {
		background:none;
		padding-top:0
	}
	.past-confs-headline {
		margin-bottom:0
	}
}
.conferences,.workshops {
	list-style:none;
	padding:0;
	margin:2em auto;
	position:relative
}
.future-conferences .conference:nth-of-type(1) {
	box-shadow:0 0.75em 0.8em 0.3em rgba(0,0,0,0.1);
	z-index:1;
	position:relative
}
.future-conferences .conference:nth-of-type(1)::before {
	position:absolute;
	top:-10px;
	left:0;
	padding:.25em .5em;
	font-size:.8em;
	color:white;
	background-color:#e02177;
	display:block;
	text-align:center;
	width:80px;
	content:"Upcoming"
}
.confs-headline {
	text-align:center;
	font-size:2em;
	text-transform:uppercase
}
[data-workshop="true"]::after {
	content:"+ Workshop";
	display:block;
	font-size:.8em
}
.future-conferences [data-workshop="true"]::after {
	bottom:2em;
	right:0;
	position:absolute;
	background-color:#8CC152;
	color:white;
	padding:.1em .5em
}
.past-conferences [data-workshop="true"]::after {
	color:orange
}
.conference {
	padding:1em;
	background-color:#fff;
	text-align:left;
	margin-bottom:5px;
	position:relative;
	margin-right:5px
}
.future-conferences .conference {
	border:1px solid #eee
}
.future-conferences .conference .conference_links {
	display:none
}
.past-conferences .conference {
	margin:0;
	border-bottom:1px solid #ddd
}
.conference.tba {
	position:relative;
	font-weight:600;
	text-align:center
}
.conference.tba p {
	font-family:"Brandon Grotesque",Georgia,serif;
	font-size:26px
}
.conference span {
	display:block
}
.conference small {
	color:#aaa
}
.conference table {
	display:inline-block
}
.conference_date {
	font-size:1.8em;
	font-weight:700
}
.past-conferences .conference_date {
	font-weight:600;
	color:#aaa;
	font-size:16px;
	display:none
}
.past-conferences .conference_date span {
	display:inline;
	font-size:1em
}
@media (min-width: 600px) {
	.future-conferences .conference {
		display:inline-block;
		float:left;
		width:48%;
		margin:0;
		margin-right:1%;
		margin-bottom:1%;
		height:19em
	}
}
@media (min-width: 730px) {
	.future-conferences .conference {
		font-size:.9em;
		height:17em
	}
	.conference_date {
		font-size:2.5em
	}
}
@media (min-width: 1250px) {
	.future-conferences .conference {
		width:32%;
		margin-right:1%;
		margin-bottom:1%;
		font-size:.9em
	}
}
.past-conferences .conference_header {
	float:left
}
.conference_links {
	float:right
}
.conference_links ul {
	list-style:none;
	padding:0;
	margin:1em 0
}
.conference_links ul li {
	color:#fff;
	margin:0;
	font-size:.8em
}
.conference_links ul li span {
	display:block;
	height:100%;
	width:100%;
	padding:.1em .5em;
	background-color:inherit;
	color:#ccc;
	color:rgba(200,200,200,0.3);
	text-shadow:0px 0px 1px #eee
}
.conference_links ul li a {
	display:block;
	height:100%;
	width:100%;
	border-bottom:none;
	padding:.1em .5em
}
.past-conferences .conference_links ul {
	margin:0
}
@media (max-width: 580px) {
	.conference_links,.conference_header {
		float:none;
		clear:both
	}
	.conference_links span,.conference_links a,.conference_header span,.conference_header a {
		padding-left:0!important
	}
	.conference_header {
		margin-bottom:1em
	}
}
.conference__days {
	margin-right:.25em
}
.past-conferences .conference__days {
	display:none!important
}
.conference__month,.conference__year {
	font-size:.3em;
	font-weight:400
}
.past-conferences .conference__month,.past-conferences .conference__year {
	font-weight:normal
}
.conference_year {
	font-weight:600
}
.conference_name {
	font-size:1.1em;
	font-weight:600;
	color:#e02177
}
.conference_name a {
	color:inherit
}
.past-conferences .conference_name {
	color:#111;
	font-weight:bold;
	font-size:1em
}
.conference_location {
	font-weight:400;
	margin-top:.5em;
	font-size:.9em
}
.past-conferences .conference_location {
	text-transform:none;
	margin-top:.3em;
	color:#888;
	font-size:.75em
}
.contact-note {
	background-color:#eee;
	font-style:italic;
	padding:0.5em 1.5em;
	color:#333;
	font-size:18px
}
.main-footer {
	padding:4em 0;
	font-size:.8em;
	clear:both;
	text-align:center
}
.main-footer a {
	border:none;
	color:inherit
}
.copyright {
	width:100%;
	text-align:center;
	padding-top:.5em;
	color:#888;
	font-size:.9em
}
table.cagematch {
	border:1px solid #eee;
	table-layout:fixed;
	margin:1.5em 0
}
table.cagematch td {
	padding:1em;
	width:50%;
	color:white
}
.th {
	background-color:#222;
	font-weight:bold
}
td.win {
	background-color:#72a53b;
	font-weight:400
}
td.lose {
	background-color:tomato;
	font-weight:400
}
td.average {
	background-color:#FCA602;
	font-weight:400
}
td.win code,td.lose code,td.average code {
	color:#222
}
figure {
	text-align:center;
	overflow:hidden;
	margin:1.5em 0
}
figure img {
	width:auto;
	max-width:100%
}
figure.double img {
	display:inline-block;
	max-width:48%
}
figure figcaption {
	font-style:italic;
	color:#999;
	padding:.5em 1em;
	font-size:.8em
}
.post-bio {
	font-weight:400;
	margin-top:3em;
	text-align:left;
	position:relative;
	color:#333
}
.post-bio:before {
	content:"";
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDE5IDI4Ij48cGF0aCBmaWxsPSIjRTIxODc3IiBkPSJNMTcuMjk3IDEzLjcwM2wtMTEuNTk0IDExLjU5NHEtLjI5Ny4yOTctLjcwMy4yOTd0LS43MDMtLjI5N2wtMi41OTQtMi41OTRxLS4yOTctLjI5Ny0uMjk3LS43MDN0LjI5Ny0uNzAzbDguMjk3LTguMjk3LTguMjk3LTguMjk3cS0uMjk3LS4yOTctLjI5Ny0uNzAzdC4yOTctLjcwM2wyLjU5NC0yLjU5NHEuMjk3LS4yOTcuNzAzLS4yOTd0LjcwMy4yOTdsMTEuNTk0IDExLjU5NHEuMjk3LjI5Ny4yOTcuNzAzdC0uMjk3LjcwM3oiLz48L3N2Zz4K);
	display:block;
	background-size:contain;
	background-repeat:no-repeat;
	height:100%;
	width:105px;
	line-height:0;
	position:absolute;
	left:-70px;
	opacity:0.1;
	top:5px
}
.tool {
	text-align:center
}
.tool h1,.tool figcaption {
	font-style:normal;
	color:inherit
}
@media (min-width: 1024px) {
	.article-wrapper figure,figure.wider {
		position:relative;
		width:150%;
		left:-25%
	}
}
